<div id="black">
    <br>
    <div id="grey">
        <br>
        <div id="whitehead">
            <div>
                <h2>PROJEKT SOFTWARE ENGINEERING</h2>
            </div>
            <div id="pic">
                <img src="./assets/pic_Kursseiten.png">
            </div>
        </div>
        <div id="body">
            <div id="whitebody">
                test4
            </div>
            <div id="side">
                <div id="whitefristright">
                    test5
                </div>
                <div id="whitesecright">
                    test6
                </div>
                <div id="whitethirdright">
                    test7
                </div>
            </div>
        </div>
    </div>
</div>
