#grey {
    background-color: #f1f1f6;
    height: 110vh;
    margin-top: 3vh;
    margin-left: 37vh;
    border-radius: 10px 10px 10px 10px;
}

.sidebuttons {
    color: #f1f1f6;
    text-align: left;
    width: 16.5vw;
    height: 5vh;
    border: 1px #f1f1f6;
    border-style: solid;
    padding-top: 2vh;
    line-height: 3vh;
}

#topsidebutton {
    margin-top: 5vh;
}

#leftside {
    width: 10vh;
    float: left;
}

#xbutton {
    background-color: lightgray;
    height: 6vh;
    width: 6vh;
    text-align: center;
}

#black {
    background-color: #000!important;
    height: 130vh;
    
}

#whitehead {
    background-color: white;
    display: flex;
    margin: 2.5vh;
    border-radius: 10px;
    font-family: "SourceSansPro-Bold",sans-serif;

    h2 {
        padding: 3vh;
    }

    #pic {
        width: 10vh;
        height: 10vh;
        margin-left: 100vh;
    }
}

#body {
   
 
    float: left;

    #whitebody {
        background-color: white;
        height: 65vh;
        border-radius: 10px;
        margin: 2.5vh;
        margin-right: 0vw;
        float: left;
        width: 65vw;
    }

    #side {
    
        width: 10vw;
        float: right;
        
        #whitefristright {
            background-color: white;
            height: 25vh;
            width: 14.5vw;
            border-radius: 10px;
            margin: 2.5vh;
        }
        
        #whitesecright {
            background-color: white;
            height: 25vh;
            border-radius: 10px;
            margin: 2.5vh;
            width: 14.5vw;
        }
        
        #whitethirdright {
            background-color: white;
            height: 25vh;
            border-radius: 10px;
            margin: 2.5vh;
            width: 14.5vw;
        }
    }
}

