<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Unbenanntes Dokument</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="home.component.scss" rel="stylesheet">
      <script>// JavaScript Document
         var menuState = 1 // close
         function open_close() {
           if(menuState === 0){
              menuState = 1;
          document.getElementById("sidebar").style.width = "250px";
         	    document.getElementById("main").style.marginLeft = "250px";
         	  document.getElementById("main").style.borderRadius = "10px";
         	  document.getElementById("main").style.width = "85%";
         
           }
           else {
              menuState = 0;
           document.getElementById("sidebar").style.width = "0";
         	    document.getElementById("main").style.marginLeft = "0";
         	  document.getElementById("main").style.borderRadius = "0";
         	  document.getElementById("main").style.width = "99%";
         
           }
         }
      </script>
   </head>
   <body>
      <div class="topnav">
         <a href="javascript:void(0)" class="closebtn" onclick="open_close()">X</a>
         <img id="iu_logo" src="..\assets\iu-logo.svg">
         <a><img src="..\assets\defaultuserpicture_fs.png"></a>
         <a><img src="..\assets\en.png"></a>
         <a>...</a>
      </div>
      <div id="sidebar" class="sidebar">
         <p>INTERNATIONALE <br> HOCHSCHULE</p>
         <a><i class="fa fa-tachometer"></i>DASHBOARD</a>
         <a><i class="icon fa fa-rss fa-fw"></i>NEWS</a>
         <a><i class="icon fa fa-share-alt fa-fw"></i>COMMUNITY</a>
         <a><i class="icon fa fa-sliders fa-fw"></i>STUDIUM VERWALTEN</a>
         <a><i class="icon fa fa-info-circle fa-fw"></i>INFO-CENTER</a>
         <a><i class="icon fa fa-question-circle text-info fa-fw"></i>HILFE UND KONTAKT (FAQ)</a>
         <a><i class="icon fa fa-graduation-cap fa-fw"></i>PROJEKT SOFTWARE ENGINEERING</a>
         <a><i class="icon fa fa-play-circle fa-fw"></i>VIDEOGALERIE</a>
         <a routerLink="/kms" style="font-size: 13.1px"><img src="..\assets\kms_icon.png">KORREKTURMANAGEMENT</a>
      </div>
      <div id="main">
         <div class="main1div">
            <div class="maininhalt">
               <p>test1</p>
            </div>
            <div class="maininhalt">
               <p>test2</p>
            </div>
            <div class="maininhalt">
               <p>test3</p>
            </div>
            <hr>
            <div id="kurs1">
               <div id="isef_bild">
                  <img src="..\assets\ISEF01.jpg">
               </div>
               <div>
                  <p>ISEF01</p>
                  <p>PROJEKT SOFTWARE ENGINEERING</p>
               </div>
               <div id="isef_bild2">
                  <img src="..\assets\pic_Kursseiten.png">
               </div>
            </div>
         </div>
         <div class="rechtsinhalt">
            <p><b>MEINE ANSTEHENDEN TERMINE</b></p>
            <p class="termine"><a>Online-Sprechstunde des Prüfungsservices</a> <br>Morgen, 10:00 » 10:30 </p>
            <p class="termine"><a>Online-Sprechstunde des Prüfungsservices</a> <br>Morgen, 10:00 » 10:30 </p>
            <p class="termine"><a>Online-Sprechstunde des Prüfungsservices</a> <br>Morgen, 10:00 » 10:30 </p>
         </div>
      </div>
   </body>
</html>