<div id="black">
    <div id="leftside">
        <div id="xbutton">
            <br>
            X
        </div>
        <div class="sidebuttons" id="topsidebutton">
            <div class="sidebuttonicon">

            </div>
            <div class="sidebuttontext">
                DASHBOARD
            </div>
        </div>
        <div class="sidebuttons">
            <div class="sidebuttonicon">
            
            </div>
            <div class="sidebuttontext">
                NEWS
            </div>
        </div>
        <div class="sidebuttons">
            <div class="sidebuttonicon">

            </div>
            <div class="sidebuttontext">
                COMMUNITY
            </div>
        </div>
        <div class="sidebuttons">
            <div class="sidebuttonicon">

            </div>
            <div class="sidebuttontext">
                STUDIUM VERWALTEN#
            </div>
        </div>
        <div class="sidebuttons">
            <div class="sidebuttonicon">

            </div>
            <div class="sidebuttontext">
                INFO-CENTER
            </div>
        </div>
        <div class="sidebuttons">
            <div class="sidebuttonicon">

            </div>
            <div class="sidebuttontext">
                HILFE & KONTAKT (FAQ)
            </div>
        </div>
        <div class="sidebuttons">
            <div class="sidebuttonicon">

            </div>
            <div class="sidebuttontext">
                PROJEKT SOFTWARE ENGINEERING
            </div>
        </div>
        <div class="sidebuttons">
            <div class="sidebuttonicon">

            </div>
            <div class="sidebuttontext">
                VIDEOGALARIE
            </div>
        </div>
        <a href="https://massivebutdynamic.com">
        <div class="sidebuttons">
            <div class="sidebuttonicon">

            </div>
            <div class="sidebuttontext">
                KORREKTURMANAGEMENT
            </div>
        </div>
        </a>
    </div>
    <br>
    <div id="grey">
        <br>
        <div id="whitehead">
            <div>
                <h2>PROJEKT SOFTWARE ENGINEERING</h2>
            </div>
            <div id="pic">
                <img src="./assets/pic_Kursseiten.png">
            </div>
        </div>
        <div id="body">
            <div id="whitebody">
                test4
            </div>
            <div id="side">
                <div id="whitefristright">
                    test5
                </div>
                <div id="whitesecright">
                    test6
                </div>
                <div id="whitethirdright">
                    test7
                </div>
            </div>
        </div>
    </div>
</div>
