@charset "utf-8";
html {background-color: black}
.sidebar {
margin: 0;
padding: 0;
width: 250px;
background-color: #000000;
position: fixed;
height: 100%;
overflow: auto;
}
.sidebar a {
display: block;
color: white;
padding: 16px;
text-decoration: none;
font-size: 14px;
font-family: arial;
}
.sidebar p {
display: block;
color: white;
padding: 0 0 20px 48px;
margin: 0 0 0 0; 
text-align: left;
text-decoration: none;
}
.sidebar a:hover:not(.active) {
background-color: #555;
color: white;
}
.topnav {
background-color: #000000;
overflow: hidden;
width: 100%;
}
.topnav .closebtn {
float:left; 
}
.topnav a {
float: right;
color: white;
text-align: center;
padding: 0 8px;
text-decoration: none;
font-size: 17px;
height: 35px;
display: table-cell;
vertical-align: middle 
}
.topnav a:hover {
background-color: #ddd;
color: black;
}
.topnav a.active {
background-color: #04AA6D;
color: white;
}
.topnav img {
float: right;
min-height: 25px; 
max-height: 30px;
border-radius: 50%;
}
#iu_logo {
float: left;
margin: 8px 0 0 16px;
max-height: 35px;
}
#main {
margin-left: 250px;
transition: margin-left .1s;
padding: 10px;
width: calc(100% - 270px);
height: 750px;
background-color: #f1f2f6;
border-radius: 10px;
text-align:center; 
vertical-align: middle;
}
#main > div {
flex: 1;
}
#main .maininhalt {
color: white;
}
#main .maininhalt p{
flex: 1;
background-color: #7b9eed;
margin: 10px;
padding: 10px;
min-height: 180px;
border-radius: 10px;
}
.main1div {
float: left;
display: flex;
flex-flow: wrap;
}
.main1div > div {
flex: 1;
}
.main1div hr{
width: 100%;
flex-basis: 100%;
height: 0;
margin: 0;
border: 0; 
}
#main .rechtsinhalt {
background-color: #ffffff;
margin: 0 0 0 13px;
height: 750px;
min-width: 280px;
border-radius: 10px;
flex: 0;
}
#main .rechtsinhalt p{
margin: 10px 10px 10px 10px;
}
#main .termine{
background-color: #dfe7fb;
border-radius: 10px;
}
#kurs1 {
margin-top: -340px;
margin-left: 10px;
background-color: white;
border-radius: 10px;
max-height: 180px;
overflow: hidden;
transition: margin-left .1s;
display: flex;
flex-direction: row;
align-items: center;
}
#kurs1 > div{
flex: 1;
}
#isef_bild img{
height: 180px;
max-width: 55%;
}
#isef_bild2 img {
height: 180px;
max-width: 55%;
}
.sidebuttontext {
font-size: 0.8em;
hyphens: auto;
-moz-hyphens: auto;
-o-hyphens: auto;
-webkit-hyphens: auto;
-ms-hyphens: auto;
}
#sidebar i{
float: left;
padding-right: 17px;
height: 4vh;
width: 10%;
color: white;
font-size: 22px;
}
#sidebar img {
width: 10%;
padding-right: 17px;
}

table {
    text-align: center;
    vertical-align: middle;
    margin-left: 35%;
}



