<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script>// JavaScript Document
         var menuState = 1 // close
         function open_close() {
           if(menuState === 0){
              menuState = 1;
          document.getElementById("sidebar").style.width = "250px";
         	    document.getElementById("main").style.marginLeft = "250px";
         	  document.getElementById("main").style.borderRadius = "10px";
         	  document.getElementById("main").style.width = "85%";
         
           }
           else {
              menuState = 0;
           document.getElementById("sidebar").style.width = "0";
         	    document.getElementById("main").style.marginLeft = "0";
         	  document.getElementById("main").style.borderRadius = "0";
         	  document.getElementById("main").style.width = "99%";
         
           }
         }
      </script>
   </head>
   <body>
      <div class="topnav">
         <a href="javascript:void(0)" class="closebtn" onclick="open_close()">X</a>
         <img id="iu_logo" src="assets\iu-logo.svg">
         <a routerLink="/login"><img src="assets\defaultuserpicture_fs.png"></a>
         <a><img src="assets\en.png"></a>
         <a>...</a>
      </div>
      <div id="sidebar" class="sidebar">
         <p>INTERNATIONALE <br> HOCHSCHULE</p>
         <a routerLink="/"><i class="fa fa-tachometer"></i>DASHBOARD</a>
         <a><i class="icon fa fa-rss fa-fw"></i>NEWS</a>
         <a><i class="icon fa fa-share-alt fa-fw"></i>COMMUNITY</a>
         <a><i class="icon fa fa-sliders fa-fw"></i>STUDIUM VERWALTEN</a>
         <a><i class="icon fa fa-info-circle fa-fw"></i>INFO-CENTER</a>
         <a><i class="icon fa fa-question-circle text-info fa-fw"></i>HILFE UND KONTAKT (FAQ)</a>
         <a><i class="icon fa fa-graduation-cap fa-fw"></i>PROJEKT SOFTWARE ENGINEERING</a>
         <a><i class="icon fa fa-play-circle fa-fw"></i>VIDEOGALERIE</a>
         <a routerLink="/kms" style="font-size: 13.1px"><img src="assets\kms_icon.png">KORREKTURMANAGEMENT</a>
      </div>
      <div id="main">
        <div class="indiv" id="leftindiv">
            Benennung:
            <br>
            <input type="text" [(ngModel)]="title" required>
        </div>
        <div class="indiv">
            Art:
            <br>
            <select [(ngModel)]="type">
               <option value="6310e1b223ccf6a272f67a00">Fehlermeldung</option>
               <option value="6310e1eb23ccf6a272f67a04">Verbesserungsvorschlag</option>
               <option value="6310e1fc23ccf6a272f67a08">Ergänzung</option>
            </select>
        </div>
        <div class="indiv">
            Kategorie:
            <br>
            <select [(ngModel)]="categorie">
               <option value="6310e52023ccf6a272f67a0c">Skript</option>
               <option value="6310e53123ccf6a272f67a10">Vodcast</option>
               <option value="6310e53c23ccf6a272f67a14">MyCampus</option>
               <option value="6310e54a23ccf6a272f67a18">Literaturangaben</option>
               <option value="6310e55523ccf6a272f67a1c">Coursefeed</option>
               <option value="6310e56723ccf6a272f67a20">IULearnApp</option>
               <option value="6310e57423ccf6a272f67a24">Musterklausur</option>
               <option value="6310e57c23ccf6a272f67a28">Sonstiges</option>
            </select>
        </div>
        <div class="indiv">
            Priorität:
            <br>
            <select [(ngModel)]="priority">
               <option value="63153dc5c5f6cf6262dc588b">Hoch</option>
               <option value="63153dd3c5f6cf6262dc588f">Mittel</option>
               <option value="63153dedc5f6cf6262dc5893">Niedrig</option>
            </select>
        </div>
        <div class="indiv">
            Status:
            <br>
            <select [(ngModel)]="status">
               <option value="63153fb95867384124069430">Eingebracht</option>
            </select>
        </div>
        <div id="indivmain">
            Beschreibung:
            <textarea type="text" [(ngModel)]="text" required></textarea>
        </div>
        <div id="centerbutton">
            <button type="submit" (click)="newTicket()">Antrag bestätigen</button>
         </div>
      </div>
      
