<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <body>
      <div class="topnav">
         <a href="javascript:void(0)" class="closebtn" onclick="open_close()">X</a>
         <img id="iu_logo" src="assets\iu-logo.svg">
         <a routerLink="/login"><img src="assets\defaultuserpicture_fs.png"></a>
         <a><img src="assets\en.png"></a>
         <a>...</a>
      </div>
      <div id="sidebar" class="sidebar">
         <p>INTERNATIONALE <br> HOCHSCHULE</p>
         <a routerLink="/"><i class="fa fa-tachometer"></i>DASHBOARD</a>
         <a><i class="icon fa fa-rss fa-fw"></i>NEWS</a>
         <a><i class="icon fa fa-share-alt fa-fw"></i>COMMUNITY</a>
         <a><i class="icon fa fa-sliders fa-fw"></i>STUDIUM VERWALTEN</a>
         <a><i class="icon fa fa-info-circle fa-fw"></i>INFO-CENTER</a>
         <a><i class="icon fa fa-question-circle text-info fa-fw"></i>HILFE UND KONTAKT (FAQ)</a>
         <a><i class="icon fa fa-graduation-cap fa-fw"></i>PROJEKT SOFTWARE ENGINEERING</a>
         <a><i class="icon fa fa-play-circle fa-fw"></i>VIDEOGALERIE</a>
         <a routerLink="/kms" style="font-size: 13.1px"><img src="assets\kms_icon.png">KORREKTURMANAGEMENT</a>
      </div>
      <div id="main">
         <div class="main1div">
            <table>
                <thead>
                    <tr>
                        <!-- <th>ID</th> -->
                        <th>Benennung</th>
                        <th>Kategorie</th>
                        <th>Art</th>
                        <th>Priorität</th>
                        <th>Status</th>
                        <th>Vorschlag öffnen</th>
                    </tr>
                    </thead>
                    <tbody>
                     <tr>
                       <td>test</td>
                       <td>test</td>
                       <td>test</td>
                       <td>test</td>
                       <td>test</td>
                       <td><a routerLink="../ticket">X</a></td>
                        </tr>
                        <tr>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>X</td>
                     </tr>
                     <tr>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>X</td>
                  </tr>
                     <tr>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>X</td>
                  </tr>
                        <tr *ngFor="let tickets of allOwnCourseTickets">
                             <!-- <td>{{ tickets._id }}</td> -->
                            <td>{{ tickets.title }}</td>
                            <td>{{ tickets.categorie.name }}</td>
                            <td>{{ tickets.type.name }}</td>
                            <td>{{ tickets.priority.name }}</td>
                            <td>{{ tickets.status.name }}</td>
                            <td><a routerLink="../ticket">X</a></td>
                        </tr>
                        </tbody>
            </table>
            <div id="centerbutton">
               <button routerLink="../newTicket">+ Neuer Antrag</button>
            </div>
      </div>