<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="black">
    <div id="leftside">
        <div id="xbutton">
            <br>
            X
        </div>
        <div class="sidebuttons" id="topsidebutton">
            <div class="sidebuttonicon">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
            </div>
            <div class="sidebuttontext" id="sidebuttontexttop">
                DASHBOARD
            </div>
        </div>
        <div class="sidebuttons">
            <div class="sidebuttonicon">
                <i class="icon fa fa-rss fa-fw" aria-hidden="true"></i>
            </div>
            <div class="sidebuttontext">
                NEWS
            </div>
        </div>
        <div class="sidebuttons">
            <div class="sidebuttonicon">
                <i class="icon fa fa-share-alt fa-fw" aria-hidden="true"></i>
            </div>
            <div class="sidebuttontext">
                COMMUNITY
            </div>
        </div>
        <div class="sidebuttons">
            <div class="sidebuttonicon">
                <i class="icon fa fa-sliders fa-fw" aria-hidden="true"></i>
            </div>
            <div class="sidebuttontext">
                STUDIUM VERWALTEN
            </div>
        </div>
        <div class="sidebuttons">
            <div class="sidebuttonicon">
                <i class="icon fa fa-info-circle fa-fw" aria-hidden="true"></i>
            </div>
            <div class="sidebuttontext">
                INFO-CENTER
            </div>
        </div>
        <div class="sidebuttons">
            <div class="sidebuttonicon">
                <i class="icon fa fa-question-circle text-info fa-fw" aria-hidden="true"></i>
            </div>
            <div class="sidebuttontext">
                HILFE & KONTAKT (FAQ)
            </div>
        </div>
        <div class="sidebuttons">
            <div class="sidebuttonicon">
                <i class="icon fa fa-graduation-cap fa-fw" aria-hidden="true"></i>
            </div>
            <div class="sidebuttontext">
                PROJEKT SOFTWARE ENGINEERING
            </div>
        </div>
        <div class="sidebuttons">
            <div class="sidebuttonicon">
                <i class="icon fa fa-play-circle fa-fw" aria-hidden="true"></i>
            </div>
            <div class="sidebuttontext">
                VIDEOGALARIE
            </div>
        </div>
        <a routerLink="/kms">
        <div class="sidebuttons" id="kms_button">
            <div class="sidebuttonicon">
                <img id="kms_icon" src="assets/kms_icon.png">
            </div>
            <div class="sidebuttontext" id="kms_button_text">
                KORREKTURMANAGEMENT
            </div>
        </div>
        </a>
    </div>
    <br>
    <div id="grey">
        <br>
        <div id="whitehead">
            <div id="whiteheadtext">
                <h2>PROJEKT SOFTWARE ENGINEERING</h2>
            </div>
            <div id="pic">
                <img src="assets/pic_Kursseiten.png">
            </div>
        </div>
        <div id="body">
            <div id="whitebody">
                <table>
                    <thead>
                        <tr>
                            <!-- <th>ID</th> -->
                            <th>Benennung</th>
                            <th>Kategorie</th>
                            <th>Art</th>
                            <th>Priorität</th>
                            <th>Status</th>
                            <th>Vorschlag öffnen</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tickets of allOwnCourseTickets">
                                 <!-- <td>{{ tickets._id }}</td> -->
                                <td>{{ tickets.title }}</td>
                                <td>{{ tickets.categorie.name }}</td>
                                <td>{{ tickets.type.name }}</td>
                                <td>{{ tickets.priority.name }}</td>
                                <td>{{ tickets.status.name }}</td>
                                <td>X</td>
                            </tr>
                            </tbody>
                </table>
            
            </div>
        </div>
    </div>
</div>
